[submodule "PathTracking/rear_wheel_feedback/pycubicspline"]
	path = PathTracking/rear_wheel_feedback/pycubicspline
	url = https://github.com/AtsushiSakai/pycubicspline.git
[submodule "PathTracking/stanley_controller/pycubicspline"]
	path = PathTracking/stanley_controller/pycubicspline
	url = https://github.com/AtsushiSakai/pycubicspline
[submodule "PathTracking/lqr_speed_steer_control/pycubicspline"]
	path = PathTracking/lqr_speed_steer_control/pycubicspline
	url = https://github.com/AtsushiSakai/pycubicspline
[submodule "PathTracking/model_predictive_speed_and_steer_control/pycubicspline"]
	path = PathTracking/model_predictive_speed_and_steer_control/pycubicspline
	url = https://github.com/AtsushiSakai/pycubicspline
