numpy == 2.2.4
scipy == 1.15.2
matplotlib == 3.10.1
cvxpy == 1.6.6
ecos == 2.0.14
pytest == 8.4.1 # For unit test
pytest-xdist == 3.7.0 # For unit test
mypy == 1.16.1 # For unit test
ruff == 0.12.1 # For unit test
