numpy == 2.0.1
scipy == 1.14.0
matplotlib == 3.9.1.post1
cvxpy == 1.5.2
pytest == 8.3.2 # For unit test
pytest-xdist == 3.6.1 # For unit test
mypy == 1.11.0 # For unit test
ruff == 0.5.7 # For unit test
