name: Linux_CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.13' ]

    name: Python ${{ matrix.python-version }} CI

    steps:
    - uses: actions/checkout@v6
    - run: git fetch --prune --unshallow

    - name: Setup python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python --version
        python -m pip install --upgrade pip
        python -m pip install -r requirements/requirements.txt
    - name: do all unit tests
      run: bash runtests.sh




